.containersudo{
    display: flex;
  
    align-items: center;
    margin-left:90%;
    margin-top: 0;
}

.profile-pic {
    background-color: #2abdb1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url(./graphics/proj3.jpg);
}

h2 {
    font-size: 30px;
}