.containersudo{
    display: flex;
  
    align-items: center;
    margin-left:90%;
    margin-top: 0;
}

.profile-pic {
    background-color: #2abdb1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-image: url(https://www.gravatar.com/avatar/6a0f14c4943e46b7d3b1d2e8e530c7a3?d=identicon);
}

h2 {
    font-size: 30px;
}