 /*Home page*/
 
 body {
     margin: 0;
     background-color: white;
    font-family: 'IBM Plex Sans Hebrew';
     
 }

 header {
     background-color: #ffffff;
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px 20px;
    
 }
 /*link hovering*/
 li  :hover{
    background-color: rgb(104, 187, 255);
    animation:cubic-bezier(0.215, 0.610, 0.355, 1);

 }
 /*end of link hovering*/
 .left-nav {
     font-size: 40px;
     font-weight: bold;
     color: blue;
 }

 .right-nav ul {
     display: flex;
     list-style: none;
     font-weight: bold;
     margin: 0px;
     
     
 }

 .right-nav li {
     margin: 0 10px;
     padding: 20px;
     font-size: large;
     font-size: 30px;
 }

 .right-nav a {
     text-decoration: none;
     color: blue;
 }

 main {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }
 .circleim {
     width: 300px;
     height: 300px;
     border-radius: 50%;
     background-image: url('./graphics/VG.jpg');
     background-size: cover;
     background-position: center;
    position: fixed;
    left: 866px;
    top: 200px;
     
 }
 section{
     font-size: 30PX;
     position: absolute;
     top: 220px;
     left: 90px;
     }
     #p1{
        color: rgb(4, 23, 194);
     }
 #button1{
    background-color:BLUE;
    height: 2pc;
    width: 20pc;
    border-radius: 10px;
    color: white;
    border-color: blue;
    font-size: 20px;
    position: absolute;
    top: 300px;
 }
 /*skills section*/
 .skills-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 15px;
 }

 .skill-column {
        width: calc(25% - 20px);
        padding: 10px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(91, 178, 207, 0.808);
        box-sizing: border-box;
        font-weight: bold;
        border-radius: 12px;
        color:rgb(0, 0, 102);
 }

 .skill-icon {
     width: 100px;
     height: 200px;
     margin: 0 auto;
     background-color:fffff;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 20px;
     color: white;
     padding: 12px;
 }
  /*VIRGILE LOGO*/
  .virgile-word {
      font-size: 36px;
      font-weight: bold;
  }

  .vowel {
      color: rgb(28, 28, 29);
  }

  .consonant {
      color: rgb(32, 32, 36);
  }

  .vowel:first-of-type {
      color: rgb(90, 22, 201);
  }
  #div1{
    font-weight: bold;
    font-size: 30px;
    color:rgb(26, 30, 224);
    align-items: center;
    position: absolute;
    left: 24px;
  }
  /*copy righting section*/
      .fixedfooter{
         color: rgb(0, 0, 187);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        font-weight: bold;

  }
 .left-about{
    position: absolute;
        height:px;
        left: 700px;
        top: 524px;
        font-family: 'IBM Plex Sans Hebrew';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        color: #000000;
        box-sizing: border-box;
        display: flex;
        box-shadow:12px 12px 12px;
 }
 /*about sectiom*/
 .right-about{
position: absolute;
    width: 465px;
    height: 615px;
    left: 170px;
    top: 225px;

    font-family: 'IBM Plex Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #515253;
    box-sizing: border-box;
    box-shadow: 12px 12px 12px;
 }
 #abouth2{
    color: blue;
 }
 /*portifolio section*/
 .edheading{
    color: blue;
    position: absolute;
        width: 776px;
        height: 96px;
        left: 221px;
        top: 80px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 36px;
        color: #404246;
      
 }
 .edsection{
    position: absolute;
        width: 817px;
        height:5;
        left: 135px;
        top: 200px;
        font-family: 'IBM Plex Sans Hebrew';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 39px;
        box-sizing: border-box;
       box-shadow: 12px 12px 12px ;
 }
 .expsection{
position: absolute;
    width: 1000px;
    height: px;
    left: 120px;
    top: 520px;
    font-family: 'IBM Plex Sans Hebrew';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 12px 12px 12px ;
   
 }
 .expheading{
    position: absolute;
        width: 604px;
        height: px;
        left: 523px;
        top: 450px;
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 36px;
        color: #0A3C9B;
 }
 .picport{
    position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        left: 971px;
        top: 196px;
        background: url('./graphics/VG.jpg');
        background-size: cover;
        background-position: center;
       
 } 
 .login{
    position: absolute;
        width: 693px;
        height: 575px;
        left: 351px;
        top: 162px;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
 }
 
    .blog-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .card {
            width: 30%;
            padding: 20px;
            text-align: center;
        }
    
        .card img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }
    
        .card h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }
    
        .card p {
            font-size: 16px;
            color: gray;
            margin-bottom: 20px;
 }